body{
    background-color:black;
    color:aquamarine;
    margin: 0px;
}

header{
    border-bottom: double 4px rgb(116, 90, 188);
    padding: 25px ;
    font-size: 35px ;
    color:rgb(116, 90, 188);

}